html {
    text-align-last: center;}

h3 {
    text-align-last: center;}

h4 {
    text-align-last: center;}

p {
        font-size: 130%;
        text-align: center;
    }
    
ul {
        font-size: 130%;
        text-align: center;
    }

img {width: 50%;}


